@import url('https://fonts.googleapis.com/css2?family=Kite+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

:root {
    background-color: #071b3a;
    color: white;
    font-family: 'Kite One', sans-serif;
}

body {
    background-color: #071b3a;
    color: white;
}

a {
    text-decoration: none;
}

/* Navbar Config */
.navbar {
    background-color: #0A1931;
    height: 8vh;
    display: flex;
    border-bottom: 1px solid white;
}

.navbar a {
    color: white;
    padding: 10px;
    font-family: 'Orbitron', sans-serif;
}

.navbar-item {
    text-decoration: none;
    padding: 10px;
}

/* Profile bar */
.profile-bar {
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    overflow: hidden;
    position: fixed;
    background-color: #0b1d3a;
    border-right: 1px solid white;
}

.profile-content {
    padding-top: 25%;
}

.profile-image {
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid rgb(0, 223, 252);
}

.profile-image:hover {
    border: 2px solid rgb(241, 255, 46);
}

.name {
    font-family: 'Play', sans-serif;
    color: white;
}

.social-media {
    width: 20px;
    height: 20px;
    padding-right: 2px;
}

/* Profile bar end */

/* Content */

.content {
    margin-left: 25%;
    margin-top: 10%;
    margin-right: 5%;
}

.title {
    font-family: 'Kalam', cursive;
    color: white;
}

.content-main {
    margin-left: 10%;
    margin-right: 10%;
}
/* Content end */

/* Card */

.card {
    border: 2px solid white;
}

.card:hover {
    top: -5px;

}

.htb {
    background-color: #2b496e;
}

.thm {
    background-color: #233953;
}

.event {
    background-color: #07418d;
}

/* Card End */
@media all and ( max-width : 640px )
{
    .navbar {
        height: auto;
    }

    .profile-bar {
        top: 0;
        left: 0;
        height: 0%;
        width: 0%;
    }

    .content {
        margin-top: 25%;
        margin-left: 5%;
    }
    
    .content-main {
        margin-right: 0%;
        margin-left: 0%;
    }
    .content {
        margin-top: 25%;
        margin-left: 5%;
    }

}